.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(140deg, rgb(231, 157, 231), rgb(156, 39, 156));
}
.calculator{
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
}
.display{
  width: 230px;
  height: 80px;
  text-align: right;
  flex: 1;
  padding: 30px 15px 10px 10px;
  font-size: 40px;
  background-color: rgb(46, 35, 35);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 5px 0 15px 0;
  border-radius: 15px;
  color: #fff;
}
form input{
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 18px;
  background-color: rgb(14, 87, 14);
  margin: 2px;
  border-radius: 15px;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
}
form input[type="button"]:hover{
  background-color: rgb(101, 172, 101);
  transition: transform 0.1s ease-in-out;
}

form input#equals{
  width: 124px;
}
.orange{
  background-color: rgb(138, 94, 12);
}
.gray{
  background-color: rgb(75, 72, 72); 
}
.red{
  background-color: rgb(83, 15, 15);
}
#answer{
  font-size: 55px;
}
#expression{
  font-size: 40px;
}